<!-- Tweet template for tweets on the home page -->
<section class="tweets-section" ng-if="TweetController.type==='tweet-home'">
  <ul class="tweets-section-list">
    <li>
      <div class="click-container" ng-click="TweetController.open()">
        <img class="tweets-account" ng-src={{TweetController.tweet.photo}}>
        <a class="tweets-name">{{TweetController.tweet.name}}</a><span>{{"@" + TweetController.tweet.handle}}</span>
      </div>
      <!-- Dropdown Menu -->
      <div class="dropdown" uib-dropdown on-toggle="TweetController.tweetOptions(open)" ng-click="TweetController.openoptions()">
        <button class="dropdown-toggle" uib-dropdown-toggle><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></button>
        <ul uib-dropdown-menu>
          <li ng-click="TweetController.deleteTweet(TweetController.tweet.id)"><a href="#">Delete Tweet</a></li>
        </ul>
      </div>
      <!-- Dropdown Menu ends -->
      <div class="click-container" ng-click="TweetController.open()">
        <p class="tweets-tweet">{{TweetController.tweet.tweet}}</p>
        <p class="tweets-icons"><i class="fa fa-comment-o" aria-hidden="true"></i><i class="fa fa-retweet" aria-hidden="true"></i><i class="fa fa-heart-o" aria-hidden="true"></i><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <div class="tweets-photo-section" ng-show={{TweetController.tweet.image}}>
          <img ng-src={{TweetController.tweet.image.url}}>
          <h2>{{TweetController.tweet.image.heading}}</h2>
          <p>{{TweetController.tweet.image.description}}</p>
          <p>{{TweetController.tweet.image.link}}</p>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- Tweet template for the main tweet in the tweet detail modal -->
<section class="tweet-detail-section" ng-if="TweetController.type==='tweet-detail'">
  <img class="tweet-detail-account" ng-src={{TweetController.tweet.photo}}>
  <a class="tweet-detail-name">{{TweetController.tweet.name}}</a>
  <!-- Dropdown Menu -->
  <div class="dropdown" uib-dropdown on-toggle="TweetController.tweetOptions(open)" ng-click="TweetController.openoptions()">
    <button class="dropdown-toggle" uib-dropdown-toggle><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></button>
    <ul uib-dropdown-menu>
      <li ng-click="TweetController.deleteTweet(TweetController.tweet.id)"><a href="#">Delete Tweet</a></li>
    </ul>
  </div>
  <!-- Dropdown Menu ends -->
  <p class="tweet-detail-handle">{{"@" + TweetController.tweet.handle}}</p>
  <p class="tweet-detail-tweet">{{TweetController.tweet.tweet}}</p>
  <p class="tweet-detail-icons"><i class="fa fa-comment-o" aria-hidden="true"></i><i class="fa fa-retweet" aria-hidden="true"></i><i class="fa fa-heart-o" aria-hidden="true"></i><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
  <div class="tweet-detail-photo-section" ng-show={{TweetController.tweet.image}}>
    <img ng-src={{TweetController.tweet.image.url}}>
    <h2>{{TweetController.tweet.image.heading}}</h2>
    <p>{{TweetController.tweet.image.description}}</p>
    <p>{{TweetController.tweet.image.link}}</p>
  </div>
</section>

<!-- Tweet template for tweet interactions in the tweet detail modal -->
<section class="tweet-reply-section" ng-if="TweetController.type==='tweet-reply'">
  <ul class="tweet-reply-section-list">
    <li class="tweet-reply-section-list-items">
      <img class="tweet-reply-account" ng-src={{TweetController.tweet.photo}}>
      <a class="tweet-reply-name">{{TweetController.tweet.name}}</a><span>{{"@" + TweetController.tweet.handle}}</span>
      <!-- Dropdown Menu -->
      <div class="dropdown" uib-dropdown on-toggle="TweetController.tweetOptions(open)" ng-click="TweetController.openoptions()">
        <button class="dropdown-toggle interaction-dropdown" uib-dropdown-toggle><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></button>
        <ul uib-dropdown-menu>
          <li ng-click="TweetController.deleteTweetInteraction(TweetController.parent, TweetController.tweet.id)"><a href="#">Delete Tweet</a></li>
        </ul>
      </div>
      <!-- Dropdown Menu ends -->
      <p class="tweet-reply-tweet">{{TweetController.tweet.tweet}}</p>
      <p class="tweet-reply-icons"><i class="fa fa-comment-o" aria-hidden="true"></i><i class="fa fa-retweet" aria-hidden="true"></i><i class="fa fa-heart-o" aria-hidden="true"></i><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      <div class="tweet-reply-photo-section" ng-show={{TweetController.tweet.image}}>
        <img ng-src={{TweetController.tweet.image.url}}>
        <h2>{{TweetController.tweet.image.heading}}</h2>
        <p>{{TweetController.tweet.image.description}}</p>
        <p>{{TweetController.tweet.image.link}}</p>
      </div>
    </li>
  </ul>
</section>