/* Twitter Style Guide
Colors:
Blue: #1DA1F2
Black: #14171A
Dark Gray: #657786
Light Gray: #AAB8C2
Extra Light Gray: #E1E8ED
Extra Extra Light Gray: #F5F8FA
White: #FFFFFF
Typeface:
Name, Tweet, Timestamp: Helvetica Neue Bold
Username: Helvetica Neue Regular
*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #14171A;
	background: #E1E8ED;
	margin-top: 60px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
 	vertical-align: top;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

p {
	font-size: 12px;
	font-weight: normal;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.navbar {
	background: #FFFFFF;
	border-bottom: 1px solid #AAB8C2;
	box-shadow: 1px 1px #E1E8ED;
	padding: 0px 35px;
	height: 40px;
	line-height: 50px;
}

.navbar span {
	color: #657786;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-left: 3px;
	margin-right: 30px;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin:0 auto;
}

.navbar-left .active {
	border-bottom: 2px solid #1DA1F2;
}

.navbar-left i {
	color: #657786;
	font-size: 20px;
	vertical-align: middle;
	padding-left: 3px;
}

.navbar-default .navbar-nav>.active>a {
	background: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a:hover {
	background: #FFFFFF;
	border-bottom: 0px;
}

.navbar-nav>li>a {
	padding: 13px 0px 13px 10px;
}

.navbar-left a:hover {
	color: #1DA1F2;
	border-bottom: 2px solid #1DA1F2;
}

.navbar-left i:hover {
	color: #1DA1F2;
}

.navbar-left span:hover {
	color: #1DA1F2;
}

.navbar-image {
	height: 32px;
	border-radius: 100%;
}

.navbar-form {
	line-height: 20px;
}

.navbar-input {
	background: #F5F8FA;
	font-weight: normal;
	font-size: 12px;
}

.navbar-input:focus {
	background: #FFFFFF;
	border: 2px solid #1DA1F2;
	box-shadow: none;
}

.navbar-btn, .compose-tweet-btn, .padding-compose-tweet-btn, .checkmark-btn, .messages-btn {
	border-radius: 20px;
	color: #FFFFFF;
	background: #4AB3F4;
	margin-left: 16px;
	margin-right: 25px;
	width: 75px;
	font-weight: bold;
}

.navbar-btn:focus, .compose-tweet-btn:focus, .padding-compose-tweet-btn:focus {
	outline: 0;
}

.navbar-btn:hover, .compose-tweet-btn:hover {
	color: #FFFFFF;
	background: #1DA1F2;
}

.fa-twitter {
	color: #1DA1F2;
	font-size: 22px;
	line-height: 20px;
}

.form-control {
  	border-radius: 20px;
}

.fa-search {
	color: #657786;
	font-size: 18px;
}

.row {
  	width: 95%;
	margin: auto;
}

.left-column {
	width: 320px;
}

.profile-top-section {
	background: #1DA1F2;
	height: 95px;
}

.profile-bottom-section {
  background: #FFFFFF;
  height: 118px;
  margin-bottom: 12px;
}

.profile-image {
  position: relative;
  top: 65px;
  left: 10px;
  height: 72px;
  border-radius: 100%;
  border: 3px solid #FFFFFF;
}

.profile-name {
  margin: 12px 0px 4px 90px;
}

.profile-account {
	color: #657786;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
	margin-left: 90px;
}

.profile-stats {
	width: 100%;
	margin: 15px 15px 0px;
}

.profile-stats-headers {
	color: #657786;
	font-size: 12px;
}

.profile-stats-numbers {
	color: #1DA1F2;
	font-size: 18px;
}

.trends-section {
  	background: #FFFFFF;
	height: 475px;
	padding-left: 15px;
	padding-right: 15px;
}

.trends-section-list h2 {
	color: #1DA1F2;
	margin: 0px;
}

.trends-section-list p {
	color: #657786;
}

.section-title-options {
	color: #1DA1F2;
	font-size: 12px;
	font-weight: normal;
}

.separator-dot {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.center-column {
	width: 588px;
	padding-left: 0px;
	padding-right: 0px;
}

.compose-tweet-section, .popup-compose-tweet-form {
	background: #E8F5FD;
	padding: 10px 12px;
	border-bottom: 1px solid #E1E8ED;
}

.your-reply-section {
	background: #F5F8FA;
	height: 58px;
	line-height: 58px;
}

.compose-tweet-image, .compose-tweet-interaction-image {
	height: 32px;
	border-radius: 100%;
	position: absolute;
	left: 28px;
	top: 13px;
}

.compose-tweet-interaction-image {
	position: absolute;
	left: 28px;
	top: 197px;
}

.your-reply-image {
	height: 32px;
	border-radius: 100%;
	left: 28px;
	top: 13px;
}

.popup-compose-tweet-title {
	background: white;
	width: 598px;
	margin: auto;
	text-align: center;
	font-size: 18px;
	height: 49px;
	padding: 12px;
	border-bottom: 1px solid #1DA1F2;
}

.compose-tweet-textarea, .popup-compose-tweet-textarea {
	color: #14171A;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	border: 1px solid #1DA1F2;
	border-radius: 6px;
	width: 506px;
	padding: 8px 31px 8px 8px;
	margin-left: 60px;
	resize: none;
	overflow: hidden;
}

.popup-compose-tweet-textarea {
	display: block;
	margin: auto;
	width: 100%;
}

/* .compose-tweet-textarea:focus {
	height: 64px;
} */

.compose-tweet-textarea::placeholder {
	color: #1DA1F2;
}

.compose-tweet-icons {
	margin-left: 40px;
}

.popup-compose-tweet-icons {
	margin-left: 0px;
}

.compose-tweet-icons i {
	color: #1DA1F2;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 8px;
}

.popup-compose-tweet-icons i {
	color: #1DA1F2;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 15px;
}

.compose-tweet-btn {
	margin-left: 244px;
	margin-right: 0px;
}

.padding-compose-tweet-btn {
	margin-left: 294px;
	margin-right: 0px;
}

.your-reply-input {
	color: #14171A;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	border: 1px solid #1DA1F2;
	border-radius: 6px;
	width: 88%;
	padding: 8px 31px 8px 8px;
	resize: none;
	overflow: hidden;
}

.tweets-section, .tweet-reply-section, .messages-section {
	background: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	width: 588px;
}

.tweets-account, .tweet-reply-account, .messages-account {
	height: 48px;
	border-radius: 100%;
	float: left;
}

.tweets-section-list li, .messages-section-list li {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #E1E8ED;
}

.messages-section-header {
	line-height: 60px;
	border-bottom: 1px solid #E1E8ED;
}

.messages-section-list p {
	margin-top: 6px;
	margin-left: 58px;
	margin-bottom: 14px;
	font-size: 14px;
	color: #657786;
	font-weight: normal;
}

.tweet-reply-section-list-items {
	padding: 9px 40px;
	width: 898px;
}

.tweets-section-list li:hover, .tweet-reply-section-list li:hover, .messages-section-list li:hover {
	background: #F5F8FA;
}

.tweets-section-list li:not(:last-child), .tweet-reply-section-list li:not(:last-child)
.messages-section-list li:not(:last-child) {
	border-bottom: 1px solid #E1E8ED;
}

.tweets-name, .tweet-reply-name, .messages-name {
	color: #14171A;
	margin-left: 10px;
	margin-right: 5px;
}

.tweets-section-list p, .tweet-reply-section-list p {
	margin-left: 58px;
	font-size: 14px;
}

.tweets-section-list li span, .tweet-reply-section-list li span, .messages-section-list li span {
	color: #657786;
	font-weight: normal;
}

.tweets-photo-section, .tweet-reply-photo-section {
	border: 1px solid #AAB8C2;
	border-radius: 5px;
	margin-left: 58px;
	margin-bottom: 15px;
}

.tweets-photo-section img, .tweet-reply-photo-section img {
	width: 100%;
}

.tweets-photo-section h2, .tweet-reply-photo-section h2 {
	margin-left: 10px;
	margin-right: 10px;
}

.tweets-photo-section p, .tweet-reply-photo-section p {
	margin-left: 10px;
	margin-right: 10px;
}

.tweets-icons i, .tweet-reply-icons i {
	color: #657786;
	font-size: 16px;
	margin-right: 50px;
}

.tweet-detail-section {
	background: #FFFFFF;
	width: 100%;
	border-radius: 50px;
	padding: 30px 40px;
}

.tweet-detail-account {
	height: 48px;
	border-radius: 100%;
	float: left;
}

.tweet-detail-name {
	font-size: 18px;
	color: #14171A;
	margin-left: 10px;
	margin-right: 5px;
}

.tweet-detail-handle {
	font-size: 14px;
	color: #657786;
	margin-left: 58px;
}

.tweet-detail-tweet {
	font-size: 27px;
    line-height: 32px;
    letter-spacing: .01em;
}

.tweet-detail-photo-section {
	border: 1px solid #AAB8C2;
	border-radius: 5px;
	margin-left: 58px;
	margin-bottom: 15px;
}

.tweet-detail-photo-section img {
	width: 100%;
}

.tweet-detail-photo-section h2 {
	margin-left: 10px;
	margin-right: 10px;
}

.tweet-detail-photo-section p {
	margin-left: 10px;
	margin-right: 10px;
}

.tweet-detail-icons i {
	color: #657786;
	font-size: 16px;
	margin-right: 50px;
}

.fa-chevron-down {
	float: right;
	font-size: 12px;
}

.messages-section-title, .notifications-section-all, .notifications-section-mentions {
	margin-left: 10px;
}

.messages-date {
	float: right;
}

.checkmark-btn {
	width: 34px;
	margin-left: 270px;
	margin-right: 10px;
}

.messages-btn {
	font-size: 12px;
	width: 100px;
	box-shadow:
    0 0 0 2px #FFF,
	0 0 0 4px #1DA1F2;
	margin-left: 0px;
	margin-right: 10px;
}

.notifications-section-header {
	line-height: 50px;
	border-bottom: 1px solid #E1E8ED;
}

.notifications-section-all, .notifications-section-mentions {
	color: #1DA1F2;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
 	vertical-align: top;
}

.right-column {
 	width: 320px;
}

.right-column section {
	padding-left: 15px;
	padding-right: 15px;
}

.follow-section {
	height: 260px;
	background: #FFFFFF;
	vertical-align: top;
}

.follow-section-people img {
	height: 48px;
	border-radius: 100%;
	float: left;
}

.follow-section-people li {
	margin-top: 10px;
	height: 60px;
}

.follow-section-people li:not(:last-child) {
	border-bottom: 1px solid #E1E8ED;
}

.follow-section-people li a {
	color: #14171A;
	margin-left: 10px;
	margin-right: 5px;
}

.follow-section-people li span {
	color: #657786;
	font-weight: normal;
}

.fa-times {
	float: right;
	font-size: 13px;
}

.follow-button {
	color: #1DA1F2;
	background: #FFFFFF;
	border: 1px solid #1DA1F2;
	border-radius: 30px;
	padding: 4px 22px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 2px;
}

.follow-button:hover {
	color: #1DA1F2;
	background: #E8F5FD;
}

.find-people-section {
	background: #FFFFFF;
	margin-bottom: 12px;
	border-top: 1px solid #E1E8ED;
	vertical-align: top;
}

.find-people-section-contacts {
	border-bottom: 1px solid #E1E8ED;
	height: 45px;
}

.find-people-section-contacts img {
	padding: 4px;
	border: 1px solid #E1E8ED;
	border-radius: 3px;
	height: 35px;
	float: left;
}

.find-people-section-contacts h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 45px;
}

.find-people-section-contacts p {
	color: #657786;
	margin-top: 0px;
	margin-left: 45px;
}

.find-people-section a {
	color: #1DA1F2;
	font-size: 12px;
	font-weight: normal;
	line-height: 40px;
}

.about-section {
	background: #FFFFFF;
  	border-bottom: 1px solid #E1E8ED;
	vertical-align: top;
	padding-top: 15px;
	padding-bottom: 15px;
}

.about-section p {
	display: inline;
	color: #657786;
	margin-right: 5px;
}

.about-section a {
	color: #657786;
	font-size: 12px;
	font-weight: normal;
	margin-right: 5px;
}

.advertise-section {
	background: #FFFFFF;
	height: 50px;
	line-height: 50px;
}

.fa-share-square-o {
	color: #1DA1F2;
}

.advertise-section-link {
	color: #1DA1F2;
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
}

.dropdown {
	float: right;
}
.dropdown-toggle {
	background: none;
	border: none;
}

.click-container {
	display: inline;
}

.focus {
	height: 64px;
}

.replying-to {
	font-size: 14px;
	color: #657786;
	margin-left: 58px;
}

.dropdown-menu {
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 160px;
    padding: 0;
    margin: 0;
	font-size: 14px;
    text-align: left;
	list-style: none;
	line-height: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.active {
	color: black;
}